/* NAVIGATION */
nav {
  background-color: #333;
  padding: 10px;
}
nav a {
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

/* MAIN CONTENT */
main {
  max-width: 840px;
  margin: 0 auto;
  padding: 10px;
}
h1 {
  color: #333;
}
main img {
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

/* ASIDE */
aside {
  width: 300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f5f5f5;
  color: #333;
}
aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* PARAGRAPHS */
p {
  padding: 0;
}

/* FOOTER */
footer {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding-top: 10px;
}

